<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-controller="LunchCheckController">
   <div class="container">
     <center><h1>Lunch Checker</h1></center>
         <div class="form-group">
             <input id="lunch-menu" type="text" placeholder="List comma separated dishes you usually have for lunch"
             class="form-control" ng-model="lunchlist" ng-style="myBorder">
         </div>
         <div class="form-group">
           <center>
              <button class="btn btn-default" ng-click="myclick()">
                Check If Too Much
              </button>
           </center>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
            <span ng-style="myMessage">
             {{message}}
            </span>
              
            
         </div>
   </div>

</body>
</html>
